@{
    ViewData["Title"] = "History";
}
<h2>@ViewData["Title"]</h2>


<p>Use this page to find out about this person or these people's history</p>

<a href="StoriesForm">Add your story</a><br />
<a href="/Home">Home</a>
