@{
    
}
<!DOCTYPE html>

<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <title>WHOfansite Universe</title>
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" />
</head>

<body>
    <h1>Welcome to the Whoniverse!</h1>
    <br>
    <p>
        Tell us about your favorite <a asp-action="StoriesForm">WHO</a> story, or...
    </p>
    <p>
        <a class="btn btn-primary" asp-action="History">Start your journey here</a>
    </p>

    @if (User?.Identity?.IsAuthenticated ?? false)
     {
        <a asp-controller="Account" asp-action="Logout"
           class="btn btn-danger">Logout</a>
     }
</body>

</html>