@model IEnumerable<WHOfansite.Models.SiteSubmissions>
@{
    Layout = null;
}

<!DOCTYPE html>


<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Submissions So Far</title>
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" />
</head>
<body>
    <div class="panel-body">
        <h2>Here is the list of people who have submitted stories</h2>
        <table class="table table-sm table-striped table-bordered">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Date</th>
                    <th>Title</th>
                    <th>Story</th>
                </tr>
            </thead>
            <tbody>
                @foreach (WHOfansite.Models.SiteSubmissions r in Model)
                {
                    <tr>
                        <td>@r.Name</td>
                        <td>@r.Date</td>
                        <td>@r.Title</td>
                        <td>@r.Story</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</body>
</html>

