@model WHOfansite.Models.SiteSubmissions

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>StoriesForm</title>
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" />
</head>
<body>
    <div class="panel panel-success">
        <div class="panel-heading text-center"><h4>For your story</h4></div>
        <div class="panel-body">
            <form class="p-a-1" asp-action="StoriesForm" method="post">
                <div asp-validation-summary="All"></div>
                <div class="form-group">
                    <label asp-for="UserName">Your name:</label>
                    <input class="form-control" asp-for="UserName" />
                </div>
                <div class="form-group">
                    <label asp-for="Date">Submission Date:</label>
                    <input class="form-control" asp-for="Date" />
                </div>
                <div class="form-group">
                    <label asp-for="Title">Story Title:</label>
                    <input class="form-control" asp-for="Title" />
                </div>
                <div class="form-group">
                    <label asp-for="Story">Your Story:</label>
                    <input class="form-control" asp-for="Story" />
                </div>
                <div class="text-center">
                    <button class="btn btn-primary" type="submit">
                        Submit story
                    </button>
                </div>
            </form>
        </div>
    </div>
</body>
</html>




