@{
    ViewData["Title"] = "Stories";
}

<!DOCTYPE html>

<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>


<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <title>Stories</title>
</head>
<body>
    <p>
        These are user submitted stories. Why not add your own?
    </p>
    <p>
        Tell us about your favorite story <a asp-action="StoriesForm">now!</a>
    </p>
</body>
</html>


