@model List<WHOfansite.Models.Story>


<!DOCTYPE html>
<!--add a foreach loop for comments!-->>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Submissions So Far</title>
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" />
</head>
<body>
    <div class="panel-body">
        <h2>Here is the list of people who have submitted stories</h2>
        <table class="table table-sm table-striped table-bordered">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Date</th>
                    <th>Title</th>
                    <th>Story</th>
                </tr>
            </thead>
            <tbody>
                @foreach (Story r in Model)
                {
                    <tr>
                        <td>@r.Name</td>
                        <td>@r.Date</td>
                        <td>@r.Title</td>
                        <td>@r.StoryText</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <a href="StoriesForm">Add your story</a><br />
    <a href="/Home">Home</a>
</body>
</html>



