
@model WHOfansite.Models.Story

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Thank you page</title>
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" />
</head>
<body class="text-center">
    <p>
        <h1>Thank you, @Model.Name!</h1>
        Your story submission will be reviewed in time
    </p>
    <p>
        Click <a class="nav-link" asp-action="ListSubmissions">here</a> to see stories already submitted!
    </p>
</body>
</html>
