@model List<Book>

@{
    Layout = "BookLayout";
    ViewBag.Title = "Book Title and Author";
}


<h2>@ViewData["Title"]</h2>

<!DOCTYPE html>
<html>
<head>
    <title>Books and Print Media</title>
</head>
<body>
    @foreach (Book books in Repository.Books)
    {
        <h1> @books.Title </h1>
          @books.Author; <br />
          @books.PubDate; <br />
          <br />
        
    }
    <br>
    <a href="/Home">Home</a><br />
    <a href="/Sources/Links">The Links</a>

</body>
</html>

