@model List<Book>

@{
    ViewData["Title"] = "Books";
}

<h2>@ViewData["Title"]</h2>

<!DOCTYPE html>
<html>
<head>
    <title>Books and Print Media</title>
</head>
<body>
    List of books:
    @foreach (Book books in Model)
    {
        @books.Author; <br />
        @books.Title; <br />
        @books.PubDate; <br />
        <br />
        
    }
    <br>
    <a href="/Home">Home</a>
</body>
</html>

