@model List<Book>

@{
    ViewData["Title"] = "Books";
}

<h2>@ViewData["Title"]</h2>

<!DOCTYPE html>
<html>
<head>
    <title>Books and Print Media</title>
</head>
<body>
    @foreach (Book books in Model)
    {
        <h1> @books.Title </h1>
          @books.Author; <br />
          @books.PubDate; <br />
          <br />
        
    }
    <br>
    <a href="/Home">Home</a>
</body>
</html>

