
@{
    ViewData["Title"] = "Books";
}

<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Use this page to find books and print media about your subject</p>

<a href="AddBook">Add your story</a><br />
<a href="/Home">Home</a>
