@model List<Link>

@{
    ViewData["Title"] = "Links";
}

<h2>@ViewData["Title"]</h2>

<!DOCTYPE html>
<html>
<head>
    <title>Links to Online Media</title>
</head>
<body>
    @foreach (Link l in Model)
    {
        <h1> @l.PageTitle; </h1> 
          @l.PageUrl; <br />
          @l.PageInfo; <br />
          <br />
    }
    <br>
    <a href="/Home">Home</a>
</body>
</html>


