@model IEnumerable<WHOfansite.Models.Link>

@{
    ViewData["Title"] = "Links";
}

<h2>@ViewData["Title"]</h2>

<!DOCTYPE html>
<html>
<head>
    <title>Links to Online Media</title>
</head>
<body>
    List of links:
    @foreach (Link l in Model)
    {
        @l.PageTitle; <br />
        @l.PageUrl; <br />
        @l.PageInfo; <br />
        <br />

    }
    <br>
    <a href="/Home">Home</a>
</body>
</html>


