
@{
    ViewData["Title"] = "Links";
}

<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Use this page to navigate to online media sources about this person or persons</p>

<a href="AddBook">Add your story</a><br />
<a href="/Home">Home</a>
